@font-face{
	font-family: Narrow;
	src:url(HelveticaNarrow.ttf);
}
body{
    background:url(../images/textured_paper.png);
}
h1{
    font-family: Narrow;
    letter-spacing: 1px;
    font-weight:bold;
    color:#337AB7;
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:10%;
    background: url(../images/dust-power.png) no-repeat center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
    cursor:pointer;
}