{% extends "layout.html" %}
{% block content %}
<body ng-app="dragndrop">
<div class="container" ng-controller="agents">
<div style="background:url(//dusthq-dragncheck.herokuapp.com/images/dragcheck.png) no-repeat center;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;width:100%;height:80px;"></div>
<hr>
  <div class="row">
    <div class="col-sm-9">
      <h1>File Management</h1>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-default" onclick="window.location='../agent';" style="margin-top:20px;">&lt; Back to shared campaigns</button>
    </div>
  </div>
  <hr>
  <div class="panel panel-default" ng-init="getItems();itemCount=0;">
    <div class="panel-heading"><strong>Files ({[{itemCount}]})</strong></div>
    <div class="panel-body" id="itemholder"></div>
  </div>
</div>
<div class="container">
  <div id="myModal" class="modal fade" role="dialog"></div>
</div>
</body>
{% endblock %}
