{% extends "layout.html" %}
{% block content %}
<body ng-app="dragncheck">
<div class="container" ng-controller="brands">
<div style="background:url(images/dragcheck.png) no-repeat center;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;width:100%;height:80px;"></div>
<hr>
    <h1>Brand Management</h1>
    <div class="panel panel-default">
      <div class="panel-header">Brands</div>
      <div class="panel-body" id="brandholder"></div>
    </div>
</div>
<div class="container">
  <div id="myModal" class="modal fade" role="dialog"></div>
</div>
</body>
{% endblock %}
