{% extends "layout.html" %}
{% block content %}
<body>
<div class="container">
<div style="background:url(images/dragcheck.png) no-repeat center;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;width:100%;height:100px;"></div>
<hr>
  <form name="login" method="post" action="googleLogin" autocomplete="off" id="glogin">
      <!--<h1>Log in to your account</h1>
      <div class="form-group" id="uemail">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="user_email" required placeholder="Enter a valid email ID">
      </div>
      <div class="form-group" id="upass">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="user_password" name="user_password" required placeholder="Enter a your account password">
      </div>
      <button type="submit" class="btn btn-primary" id="loginbutton">Log In</button>&nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location='registration';">Create an account</button>-->
  </form>
    <div class="well">
        <div class="text-left">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-toggle="toggle" onchange="updateCreativeFlag(this)">
                    Are you a creative agent?
                </label>
            </div>
            <hr>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>
  <script type="text/javascript">
  <!--
  //$("#email").focus();
  var creativeUser=false;
  function updateCreativeFlag(toggle){
      console.log(toggle.value);
  }
  function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var userName=profile.getName();
        var email=profile.getEmail();
        var id_token = googleUser.getAuthResponse().id_token;
        $("#glogin").append('<input type="hidden" name="id_token" value="'+id_token+'"><input type="hidden" name="user_email" value="'+email+'"><input type="hidden" name="user_name" value="'+userName+'">');
        document.getElementById("glogin").submit();
      };
  //-->
  </script>
</div>
<div class="container">
  <div id="myModal" class="modal fade" role="dialog"></div>
</div>
</body>
{% endblock %}
