{% extends "layout.html" %}
{% block content %}
<body>
<div class="container">
<div style="background:url(images/dragcheck.png) no-repeat center;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;width:100%;height:100px;"></div>
<hr>
    <div class="well">
        <div class="text-left">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-toggle="toggle" onchange="updateCreativeFlag()" id="toggle" data-on="Yes" data-off="No">
                    Are you a creative agent? You cannot change this option later.
                </label>
            </div>
            <hr>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>
    <form name="login" method="post" action="googleLogin" autocomplete="off">
      <div id="glogin"></div>
      <button type="submit" class="btn btn-primary disabled" id="loginbutton">Log In</button>
    </form>
  <script type="text/javascript">
  <!--
  //$("#email").focus();
  var creativeUser=false;
  function updateCreativeFlag(){
      creativeUser=document.getElementById("toggle").checked;
  }
  function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var userName=profile.getName();
        var email=profile.getEmail();
        var id_token = googleUser.getAuthResponse().id_token;
        if(creativeUser){
            creativeUser="true";
        }
        else{
            creativeUser="false";
        }
        $("#glogin").append('<input type="hidden" name="id_token" value="'+id_token+'"><input type="hidden" name="user_email" value="'+email+'"><input type="hidden" name="user_name" value="'+userName+'"><input type="hidden" name="creative_user" value="'+creativeUser+'">');
        //document.getElementById("glogin").submit();
        $("#loginbutton").removeClass("disabled");
      };
  //-->
  </script>
</div>
<div class="container">
  <div id="myModal" class="modal fade" role="dialog"></div>
</div>
</body>
{% endblock %}
