{% extends "layout.html" %}
{% block content %}
<body>
<div class="container">
<div style="background:url(images/dragcheck.png) no-repeat center;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;width:100%;height:100px;"></div>
<hr>
    <form name="registration" action="createAccount" method="post">
        <h3>Create an account</h3>
        <div class="form-group" id="rusername">
            <label for="username">User name</label>
            <input type="text" class="form-control" id="username" name="username" required placeholder="Enter your name">
        </div>
        <div class="form-group" id="remail">
            <label for="reg-email">Email</label>
            <input type="email" class="form-control" id="reg-email" name="regemail" required placeholder="Enter a valid email ID">
        </div>
        <div class="form-group" id="rpass">
            <label for="password-1">Password</label>
            <input type="password" class="form-control" id="password-1" name="password1" required placeholder="At least 6 characters">
        </div>
        <div class="form-group" id="rpass2">
            <label for="password-2">Repeat password</label>
            <input type="password" class="form-control" id="password-2" name="password2" required placeholder="Re-enter your password">
        </div>
        <button type="submit" class="btn btn-primary" id="regbutton">Create Account</button><br><br>
        <a href="javascript:void(0)" class="small" onclick="window.location='login';">Already have an account?</a>
    </form>
</div>
<div class="container">
  <div id="myModal" class="modal fade" role="dialog"></div>
</div>
</body>
{% endblock %}
